name: Crystal CI

on: [push]

jobs:
  spec:
    runs-on: ubuntu-latest

    services:
      rethinkdb:
        image: rethinkdb:2.4.0
        ports:
          - 28015:28015

    container:
      image: crystallang/crystal:0.35.1

    steps:
      - uses: actions/checkout@v1

      - name: Install LibDuktape and LibRocksDB
        run: |
          apt-get update && \
          apt-get install wget libgflags2.2 libsnappy1v5 duktape-dev -y && \
          wget https://launchpad.net/~hnakamur/+archive/ubuntu/rocksdb/+files/librocksdb6.5_6.5.2-1ppa2~bionic_amd64.deb && \
          wget https://launchpad.net/~hnakamur/+archive/ubuntu/rocksdb/+files/librocksdb-dev_6.5.2-1ppa2~bionic_amd64.deb && \
          apt install ./librocksdb6.5_6.5.2-1ppa2~bionic_amd64.deb -y && \
          apt install ./librocksdb-dev_6.5.2-1ppa2~bionic_amd64.deb -y

      - name: Install dependencies from shards
        run: shards install

      - name: Run tests
        run: crystal spec

      - name: Run tests with -Dpreview_mt
        run: crystal spec -Dpreview_mt

  checks:
    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal:0.35.1

    steps:
      - uses: actions/checkout@v1

      - name: Install LibDuktape and LibRocksDB
        run: |
          apt-get update && \
          apt-get install wget libgflags2.2 libsnappy1v5 duktape-dev -y && \
          wget https://launchpad.net/~hnakamur/+archive/ubuntu/rocksdb/+files/librocksdb6.5_6.5.2-1ppa2~bionic_amd64.deb && \
          wget https://launchpad.net/~hnakamur/+archive/ubuntu/rocksdb/+files/librocksdb-dev_6.5.2-1ppa2~bionic_amd64.deb && \
          apt install ./librocksdb6.5_6.5.2-1ppa2~bionic_amd64.deb -y && \
          apt install ./librocksdb-dev_6.5.2-1ppa2~bionic_amd64.deb -y

      - name: Install dependencies from shards
        run: shards install

      - name: Build main.cr
        run: crystal build src/main.cr

      - name: Build main.cr with -Dpreview_mt
        run: crystal build -Dpreview_mt src/main.cr

      - name: Check format
        run: crystal tool format --check

      - name: Ensure every file requires everything it needs to build by itself
        run: for file in $(find src -name '*.cr'); do echo $file; crystal build --no-codegen $file --error-trace || exit 1; done;

      - name: Ensure every file requires everything it needs to build by itself with -Dpreview_mt
        run: for file in $(find src -name '*.cr'); do echo $file; crystal build --no-codegen -Dpreview_mt $file --error-trace || exit 1; done;
